.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100% ;
  padding: 10px 20px; 
  background-image: url('../assets/telaQualificacao/Ativo 5.png');
  background-size: cover;
  background-position: center;
}

@font-face {
    font-family: 'NeoSansProBold';
    src: url('./assets/fonts/NeoSansProBold.OTF') format('opentype');
}

.tipografia {
    font-family: 'NeoSansProBold', sans-serif;
    font-size: clamp(16px, 2vw, 24px);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}