
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    gap: 20px;
    background-image: url('../assets/TelaQualificacao/Ativo\ 4.png');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow: hidden;
}

.content {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  flex-direction: column;
  height: auto;
}

.containerTable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; /* 👈 aumenta a largura da tabela (ajuste aqui se quiser mais larga) */
  max-width: 1100px; /* 👈 evita que fique estourando em telas grandes */
  margin: 0 auto;
}

.containerTable table {
  width: 100%; /* 👈 faz a tabela ocupar toda a área disponível */
  border-collapse: collapse;
  text-align: center;
}

footer {
  grid-column: 1 / 4;     
  grid-row: 4 / 4;        
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  aspect-ratio: 8001 / 525;   
  max-height: 10vh;
  width: 100%;

  background-image: url('../assets/TelaResultados/Ativo 59.png');
  background-size: cover;
  background-position: center;
}

.tipografia {
  font-family: "NeoSansProBold", sans-serif;
  font-size: clamp(20px, 4vw, 22px);
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;

  border-collapse: collapse;
  border: none;
}

.tipografia tr:first-child td {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 22px);
  white-space: pre-line;
}

/* Remove bordas somente desta tabela */
.tipografia td,
.tipografia th {
  border: none;
}