.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;

  background-image: url('../assets/telaQualificacao/Ativo\ 4.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.equipesRed {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  transform: scale(0.55) translateX(5%) translateY(-10%);

}

.equipesBlue {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  transform: scale(0.55) translateX(-20%) translateY(-10%);

}

.box {
  width: 100%;
  max-width: 50vh;
  aspect-ratio: 1187 / 354;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.red {
  background-image: url('../assets/TelaPartida/Ativo\ 53.png');
}

.red1 {
  background-image: url('../assets/TelaPartida/Ativo\ 54.png');
}

.blue {
  background-image: url('../assets/TelaPartida/Ativo\ 55.png');
}

.blue1 {
  background-image: url('../assets/TelaPartida/Ativo\ 56.png');
}

@font-face {
  font-family: 'NeoSansProBold';
  src: url('../assets/fonts/NeoSansProBold.OTF') format('opentype');
}

.tipografiaEquipes {
  font-family: 'NeoSansProBold', sans-serif;
  font-size: clamp(16px, 2vw, 26px);
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

.tipografia {
  font-family: 'NeoSansProBold', sans-serif;
  font-size: clamp(50px, 2vw, 24px);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

.tipografiaPlacar {
  font-family: 'NeoSansProBold', sans-serif;
  font-size: clamp(45px, 4vw, 60px);
  color: white;
  text-transform: uppercase;
  font-style: italic;
  min-width: 100px;
  font-weight: 700;
}

.tipografiaResultado {
  font-family: "NeoSansProRegular";
  font-size: clamp(25px, 3vw, 40px);
  color: black;
  text-align: center;
  min-width: 120px;
}

.placar {
  width: 60vh;
  max-width: 100%;
  aspect-ratio: 3839 / 1370;
  padding: 0 30px;
  background-image: url('../assets/TelaPartida/Ativo 47.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.containerEquipes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  aspect-ratio: 8015 / 220;
  background-image: url('../assets/TelaPartida/Ativo 52.png');
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 6.5rem;
  left: 50%;
  transform: translateX(-49.3%);

  padding: 0 5%;
  margin-top: 80px;
}

.equipeBox {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  gap: 20px;
}

.containerPlacar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  justify-items: center;
  width: 100%; 
  margin: 0 auto;
  text-align: center;

  position: relative;
  top: 20px;
}