#main-score {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px !important;
}

#main-score2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: scroll;
}

.alianca-container {
  scale: 1.4;
  position: absolute;
  top: 22%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #c8102e 50%, #0033a0 50%); */
  border-radius: 12px;
  padding: 4px;
  width: fit-content;
}

.alianca-content {
  background: white;
  border-radius: 10px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Segoe UI", sans-serif;
}

.titulo {
  font-size: 0.75rem;
  font-weight: 600;
  color: #444;
  letter-spacing: 0.5px;
}

.linha {
  width: 1px;
  height: 20px;
  background: #ccc;
}

.opcoes {
  display: flex;
  gap: 16px;
}

.opcoes label {
  font-size: 0.8rem;
  color: #444;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.opcoes input[type="radio"] {
  accent-color: #444;
  cursor: pointer;
}

#box-score {
  position: absolute;
  top: 25%;
  width: 1400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  scale: 0.9;
  align-items: center;
  gap: 1rem;
}

.box-score {
  margin-top: 200px;
  flex: 1 1 45%;
  max-width: 900px;
  border-radius: 12px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in-out;
}
#times {
  display: flex;
  gap: 1rem;
  color: white;
}

#times p {
  padding: 10px;
  font-size: 20px;
  /* background-color: re; */
}

#box-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .alianca-container {
    top: 10%;
    left: 30%;
  }

  #box-score {
    top: 7%;
    scale: 0.8;
  }
}

@media (min-width: 1400px) {
  .alianca-container {
    top: 10%;
  }
  #box-score {
    scale: 1.1;
  }
}
